/* Safari 11+ */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        body {
            header {
                .inner {
                    .logo a svg {
                        outline: none !important;
                        box-shadow: 0 0 0 var(--keyline-thin) var(--lfkk-primary-D-lop) !important;
                    }
                    #nav_trigger {
                        outline: none !important;
                        box-shadow: 0 0 0 var(--keyline-thin) var(--lfkk-primary-D-lop);
                    }
                }
            }
            main .content .images {
                outline: none !important;
                box-shadow: 0 0 0 var(--keyline-thin) var(--lfkk-primary-D);
            }

            header, main, footer {
                -webkit-transform: translate3d(0,0,0);
            }
        }
        body.home {
            header {
                .inner {
                    .logo a svg {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
        body.about {
            main .content div .blocks figure {
                img {
                    outline: none !important;
                    box-shadow: 0 0 0 var(--keyline-thin) var(--lfkk-primary-D);
                }
            }
        }

        header .inner #nav_trigger {
            position: absolute !important;
        }
    }
}