:root {
    --lfkk-primary-A: #EEC16A;
    --lfkk-primary-B: #E8E3DC;
    --lfkk-primary-B-lop: color-mix(in srgb, var(--lfkk-primary-B) 30%, var(--lfkk-primary-D));
    --lfkk-primary-C: #D1CBBE;
    --lfkk-primary-D: #271106;
    --lfkk-primary-D-lop: color-mix(in srgb, var(--lfkk-primary-D) 30%, transparent);
    --lfkk-secondary-A: #FFFFFF;
    --lfkk-secondary-A-lop: color-mix(in srgb, var(--lfkk-secondary-A) 30%, transparent);
    --lfkk-secondary-B: #CC0000;
    --lfkk-secondary-C: #FEE70D;
    --lfkk-secondary-D: #0F0F0F;

    --keyline: .175rem;
    --keyline-thin: .1rem;
    --keyline-logo: .0375rem;
    --keyline-top: .125rem;
}