body.about {
    background-color: var(--lfkk-primary-D);

    @include sm {
        background-color: var(--lfkk-primary-B);
    }

    header, main {
        background-color: var(--lfkk-primary-B);
    }

    main {
        .content {
            row-gap: 0;

            div {
                .title {
                    padding-bottom: 1.5rem;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;

                    button {
                        cursor: pointer;

                        @include sm {
                            display: none;
                        }

                        &:not(.open) {
                            color: var(--lfkk-primary-D-lop);
                            transform: rotate(45deg);
                        }
                    }
                }
        
                &:not(:first-child) .title {
                    border-top: dotted var(--keyline) var(--lfkk-primary-D-lop);
                    padding: 1.5rem 0;
                }
        
                &:not(:last-child) .blocks {
                    margin-bottom: 3rem;
                }
        
                .blocks {
                    transition: opacity 1.5s ease;
        
                    figure {
                        padding-top: .5rem;
                        aspect-ratio: 4/3;

                        &:first-child {
                            aspect-ratio: 8/5;
                            padding-right: 4rem;

                            @include md {
                                padding-right: 2rem;
                            }

                            @include sm {
                                padding-right: 0;
                            }
                        }
        
                        img {
                            outline: solid var(--keyline-thin) var(--lfkk-primary-D);
                            border-radius: 1rem;
                            overflow: hidden;
                            width: 100%;
                            height: 100%;
                        }

                        &[data-ratio="4/5"] {
                            aspect-ratio: 4/5;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
        
                    ul {
                        list-style-type: circle;
                        padding-left: 2rem;
        
                        li {
                            &:not(:last-child) {
                                margin-bottom: .75rem;
                            }
                        }
                    }

                    table {
                        tbody tr {
                            font-variant-numeric: tabular-nums;
                            padding: 1.25rem 0;
    
                            &:not(:first-child) {
                                border-top: dotted var(--keyline) var(--lfkk-primary-D-lop);
                            }
    
                            .year {
                                &::after {
                                    content: "–"
                                }
                            }
                        }
                    }
        
                    &.collapsed {
                        opacity: 0;
                        height: 0;
                        margin-bottom: 0;
                        pointer-events: none;
                        overflow: hidden;
                        transition: opacity .5s ease;
                    }


                    @include sm {
                        padding-right: 0;

                        &.collapsed {
                            opacity: initial;
                            height: initial;
                            margin-bottom: 4.5rem;
                            pointer-events: initial;
                            overflow: initial;
                            transition: initial;
                        }
                    }
                }
            }
        }
    }
}