body.contact {
    background-color: var(--lfkk-primary-D);

    @include sm {
        background-color: var(--lfkk-primary-B);
    }

    header, main {
        background-color: var(--lfkk-primary-B);
    }
}