body.home {
    background-color: var(--lfkk-primary-D);
    color: var(--lfkk-primary-D);

    @include sm {
        background-color: var(--lfkk-primary-A);

        &.pre {
            background-color: var(--lfkk-secondary-D);
            height: 100%;
            overflow: hidden;
        }
    }

    header, main {
        background-color: var(--lfkk-primary-A);

        .inner {
            

            .logo {
                width: 22rem;

                svg {
                    outline: none;
                    box-shadow: none;
                    border-radius: initial;

                    &:hover {
                        fill: var(--lfkk-secondary-A-hop);
                    }

                    @include sm {
                        &:hover {
                            fill: initial;
                        }
                    }
                }
            }
        }

        .intro {
            h2 {
                @include md {
                    padding-right: 2rem;
                }
            }
        }
    }
}