@font-face {
    font-family: 'Work Sans Variable';
    src: url(/assets/fonts/WorkSans-VariableFont_wght.ttf) format("truetype-variations");
    font-weight: 300 450;
}

@font-face {
    font-family: 'Work Sans';
    src: url(/assets/fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: 'Herbik';
    src: url(/assets/fonts/HerbikUnlicensedTrial-Regular.ttf);
}

@font-face {
    font-family: 'Herbik Italic';
    src: url(/assets/fonts/HerbikUnlicensedTrial-Italic.ttf);
}

body {
    font-size: 100%;
    font-family: 'Work Sans Variable', 'Work Sans', sans-serif;
    font-feature-settings: "rlig" 1, "kern" 1, "rclt" 1, "calt" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss06" 1, "liga" 1, "onum" 1, "rvrn" 1;
    font-variation-settings: "wght" 420;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include lg {
        font-size: 1.25rem;
    }

    @include md {
        font-size: 100%;
    }

    @include sm {
        font-size: 1.4rem;
    }
}

h1,
nav[role="slide"] {
    font-size: 4.75rem;
    line-height: 102%;
    letter-spacing: -0.065rem;
    font-variation-settings: "wght" 350;
    text-wrap: balance;

    @include sm {
        font-size: 3.3rem;
        line-height: 102%;
        letter-spacing: -0.065rem;
        font-variation-settings: "wght" 370;
    }
}

h2,
.links a,
li::after {
    font-size: 2.75rem;
    line-height: 118%;
    letter-spacing: -0.05rem;

    @include sm {
        font-size: 2.2rem;
        line-height: 129%;
        letter-spacing: -0.05rem;
    }
}

h3,
#nav_trigger,
.content {
    font-size: 1.75rem;
    line-height: 115%;
    letter-spacing: -0.02rem;

    @include sm {
        font-size: 1.75rem;
        line-height: 122%;
        letter-spacing: -0.02rem;
    }
}

.logo {
    font-size: 7.5rem;
    line-height: 102%;
    letter-spacing: -0.0375rem;
}

table tbody tr td {
    @include sm {
        font-size: 1.75rem;
        line-height: 122%;
    }
}

#nav a {
    @include sm {
        font-size: 4.75rem;
        line-height: 102%;
    }
}

#aoc_hover h3,
#aoc_hover::after {
    font-size: 1.425rem;
    line-height: 122%;

    @include md {
        font-size: 1.25rem;
        line-height: 122%;
    }

    @include sm {
        font-size: 1.375rem;
        line-height: 122%;
    }
}

.links a {
    line-height: 102%;
}


.title h2,
.heading h2,
.links a {
    @include sm {
        font-size: 2.75rem;
        line-height: 102%;
        font-variation-settings: "wght" 370;
    }
}

li a::after {
    font-variation-settings: "wght" 350;

    @include sm {
        font-size: 2.75rem;
        line-height: 102%;
        font-variation-settings: "wght" 320;
    }
}

.title button {
    font-variation-settings: "wght" 270;
}

.sc,
.year {
    font-variant-caps: all-small-caps;
    font-size: 107%;
    font-variation-settings: "wght" 390;
}