html {
    // font-size: clamp(1vw, 1.1vw, 1.2vw);
    font-size: 1.15vw;
    scroll-behavior: smooth;

    @include xl {
        font-size: .8vw;
    }

    @include md {
        font-size: 1.8vw;
    }

    @include sm {
        font-size: 2.8vw;
    }
}

body {
    margin: 0 auto;
}

header, main, footer {
    width: 100%;
    overflow-x: hidden;
    max-width: 100%;
    -webkit-transform: translate3d(0,0,0);
}

img {
    object-fit: cover;
}

a {
    text-decoration-thickness: var(--keyline-underline) !important;
    -webkit-text-decoration-thickness: var(--keyline-underline) !important;
    text-underline-offset: calc(var(--keyline-underline) * 4) !important;
    -webkit-text-underline-offset: calc(var(--keyline-underline) * 4) !important;
}