html {
    // font-size: clamp(1vw, 1.1vw, 1.2vw);
    font-size: 1.15vw;
    scroll-behavior: smooth;

    @include md {
        font-size: 1.8vw;
    }

    @include sm {
        font-size: 2.8vw;
    }
}

body {
    margin: 0 auto;
}

header, main, footer {
    width: 100%;
    overflow-x: hidden;
    max-width: 100%;
}

img {
    object-fit: cover;
}